@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Siemreap&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Kantumruy Pro", ui-sans-serif, system-ui, sans-serif;
}

#print-area {
  font-family: 'Khmer OS Siemreap', 'Siemreap', sans-serif;
  font-size: 11pt;
}

@media print {
  @page {
    margin: 1.1cm 1.2cm 1.1cm 1.5cm;
  }
  body * {
    visibility: hidden;
  }
  #print-area, #print-area * {
    visibility: visible;
  }
  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
  }
}
